body{
    background-image: url('letter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
    height: 96vh;
}

.container{
    margin-top: 2rem;
    padding: 2rem;
}